<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/header ::header}"></div>
<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <div th:replace="~{fragments/navbar ::navbar-custom}"></div>
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="~{fragments/menu ::left-side-menu}"></div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a th:href="@{/homePage}">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/configs}">Quản lý config</a></li>
                                    <li class="breadcrumb-item active">Danh sách config</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Danh sách config</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-sm-4">
                                        <a th:href="@{/newConfigs}" class="btn btn-danger mb-2"><i
                                                class="mdi mdi-plus-circle mr-2"></i> Thêm Config</a>
                                        <!--                                        <div class="spinner-border text-info m-2" role="status"></div>-->
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-centered table-striped dt-responsive nowrap w-100"
                                           id="products-datatable">
                                        <thead>
                                        <tr>
                                            <th style="width: 20px;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="customCheck1">
                                                    <label class="custom-control-label"
                                                           for="customCheck1">&nbsp;</label>
                                                </div>
                                            </th>
                                            <th>ConFig Id</th>
                                            <th>Value</th>
                                            <th>Key</th>
                                            <th>Description</th>
                                            <th>Group</th>
                                            <th style="width: 75px;">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="config : ${configs}">
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="customCheck2">
                                                    <label class="custom-control-label" for="customCheck2"></label>
                                                </div>
                                            </td>
                                            <td class="table-user">
                                                <a href="" class="text-body font-weight-semibold"
                                                   th:text="${config.id}"></a>
                                            </td>
                                            <td th:text="${config.value}"></td>
                                            <td th:text="${config.configs_key}"></td>
                                            <td th:text="${config.description}"></td>
                                            <td th:text="${config.configs_group}"></td>
                                            <td>
                                                <a th:href="@{'/editConfigs/'+ ${config.id}}" class="action-icon"> <i
                                                        class="mdi mdi-square-edit-outline"></i></a>
                                                <a onclick="return confirm('Are you sure to delete')"
                                                   th:href="@{'/deleteConfigs/' +${config.id} }" class="action-icon"> <i
                                                        class="mdi mdi-delete"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        2015 -
                        <script>document.write(new Date().getFullYear())</script> &copy; UBold theme by <a href="">Coderthemes</a>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="javascript:void(0);">About Us</a>
                            <a href="javascript:void(0);">Help</a>
                            <a href="javascript:void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->

    </div>


    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->

<!-- Vendor js -->
<script th:src="@{/job-awesome/assets/js/vendor.min.js}"></script>

<!-- third party js -->
<script th:src="@{/job-awesome/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/job-awesome/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/job-awesome/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/job-awesome/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/job-awesome/assets/libs/jquery-datatables-checkboxes/js/dataTables.checkboxes.min.js}"></script>
<!-- third party js ends -->

<!-- Datatables init -->
<!--<script src="../assets/js/pages/customers.init.js"></script>-->

<!-- App js -->
<script th:src="@{/job-awesome/assets/js/app.min.js}"></script>

</body>
</html>